.allItem {
  transition: 0.3s linear;
}
.carousel {
  transition: 0.1s linear;
}
.header {
  background-color: rgb(105, 105, 105);
  height: 10vh;
}
.left {
  height: 94vh;
  overflow: auto;
}
.header-wrapper {
  height: 100%;
}

.categoryPicker {
  width: 120px;
}
.formWrapper {
  width: 70%;
}
.title-wrapper {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-header {
  transform: scale(0.8);
  cursor: pointer;
}
.recommend-btn-sm {
  display: none;
}
.singleItem {
  min-height: 350px;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-around;
}
.title {
  cursor: pointer;
  color: white;
}
.errorText {
  color: red;
  animation: fadeIn 1s;
}
.titleSmall {
  display: none;
}
.popular {
  height: 60vh;
}
.active {
  box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
}
@media screen and (max-width: 580px) {
  .header {
    min-height: 25vh;
  }
  .focused-movie-home-page {
    margin-top: 50px;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column !important;
  }
  .popular-wrapper {
    flex-direction: column-reverse !important;
  }
  .popular {
    margin-top: 0 !important;
    height: auto;
  }
  .categoryPicker {
    height: 70%;
    width: 100px;
  }
  .recommend-btn-lg {
    display: none;
  }
  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .moviesWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .recommend-btn-sm {
    display: block;
  }
  .singleItemWrapper {
    height: auto !important;
  }
  .singleMovie {
    box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
    height: auto;
  }
  .singleMovie > .movie {
    height: auto;
  }
  .title-wrapper {
    height: 50%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
