.allItems {
  transition: 0.3s linear;
}
.header {
  background-color: rgb(105, 105, 105);
}
.left {
  height: 94vh;
  overflow: auto;
}
.categoryPicker {
  width: 120px;
}
.singleItem {
  min-height: 350px;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-around;
}
.title {
  cursor: pointer;
  color: white;
}
.titleSmall {
  display: none;
}
.active {
  box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
}
@media screen and (max-width: 580px) {
  .header {
    height: auto;
  }
  .headerWrapper {
    display: flex;
    flex-direction: column !important;
  }
  .categoryPicker {
    height: 80%;
    width: 100px;
  }
  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moviesWrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .singleItemWrapper {
    height: auto !important;
  }
  .singleMovie {
    height: auto;
  }
  .singleMovie > .movie {
    height: auto;
  }
}
