.poster-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.recommended-poster {
  height: 100%;
  object-fit: contain;
}
.modal {
  height: 95vh;
}
.modal-body {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding: 50px;
}
.modal-body-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 580px) {
  .poster-wrapper {
    width: 90%;
    margin-top: 50px;
  }
  .recommended-poster {
    width: 300px;
    object-fit: contain;
  }
  .modal {
    height: 100%;
    overflow: auto;
  }
  .modal-body {
    height: auto;
    padding: 20px;
    overflow: auto;
    margin-top: -50px;
  }
  .modal-footer {
    display: flex;
    justify-content: space-around;
  }
}
